{% load static %}

	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Most Ordered</h2>
                        <p>the most menu ordered by costumers in the restaurant </p>
					</div>
				</div>
			</div>

			<div class="row special-list">
                {% for rs in mostordered %}
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<img src="{{ rs.image.url }}" class="img-fluid" alt="Image" style="height: 250px">
						<div class="why-text">
                            <h4><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
							<a href="/product/{{ rs.id }}/{{ rs.slug }}"><p>{{ rs.description }}</p></a>
							<a href="/product/{{ rs.id }}/{{ rs.slug }}"><h5> ${{ rs.price }}</h5></a>
                            <a class="btn btn-lg btn-circle btn-outline-new-white" style="backdrop-filter:brightness(60%) " href="/order/addtocart/{{ rs.id }}"> Order</a>
						</div>
					</div>
				</div>
                {% endfor %}

			</div>
		</div>
	</div>
	<!-- End Menu -->

<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-left">
                <p class="lead ">
                    " If you're not the one cooking, stay out of the way and compliment the chef. "
                </p>
                <span class="lead">Michael Strahan</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->

<!-- Start Gallery -->
<div class="gallery-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Recently Ordered</h2>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">

                {% for rs in mostordered %}
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="gallery-single fix">
                            <img src="{{ rs.image.url }}" class="img-fluid" alt="Image" style="height: 300px">
                            <div class="why-text">
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}"><h4>{{ rs.title }}</h4></a>
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}"><p>{{ rs.description }}</p></a>
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}"><h5> ${{ rs.price }}</h5></a>
                                <a class="btn btn-lg btn-circle btn-outline-new-white" style="backdrop-filter:brightness(60%) " href="/order/addtocart/{{ rs.id }}"> Order</a>
                            </div>
                        </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->

<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Today's Main Meals</h2>
                        <p>we offer our daily main meals fresh by professional chef with love  </p>
					</div>
				</div>
			</div>

			<div class="row special-list">
                {% for rs in mainmeal %}
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<img src="{{ rs.image.url }}" class="img-fluid" alt="Image" style="height: 250px">
						<div class="why-text">
                            <h4><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
							<a href="/product/{{ rs.id }}/{{ rs.slug }}"><p>{{ rs.description }}</p></a>
							<a href="/product/{{ rs.id }}/{{ rs.slug }}"><h5> ${{ rs.price }}</h5></a>
                            <a class="btn btn-lg btn-circle btn-outline-new-white" style="backdrop-filter:brightness(60%) " href="/order/addtocart/{{ rs.id }}"> Order</a>
						</div>
					</div>
				</div>
                {% endfor %}

			</div>
		</div>
	</div>
	<!-- End Menu -->
