{% load static %}
<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				&emsp;&emsp;&emsp;<a class="navbar-brand" href="/">
					<img src="{%static 'images/logo.png' %}" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Pages</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="reservation.html">Reservation</a>
								<a class="dropdown-item" href="stuff.html">Stuff</a>
								<a class="dropdown-item" href="gallery.html">Gallery</a>
							</div>
						</li>
                        <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
						<li class="nav-item"><a class="nav-link" href="/references">References</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                        <li class="nav-item dropdown">
                            {% if user.id is not None %}
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown"><img src="{{ user.profile.image.url }}">
                                {{ user.first_name }}</a>
                            {% else %}
                            &ensp;&ensp;<a class="text-uppercase" style="font-size: 16px" href="/login/"> login</a> / <a class="text-uppercase" style="font-size: 16px" href="/signup/"> Sign Up</a>
                            {% endif %}
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="/user/">My Account</a>
								<a class="dropdown-item" href="/user/orders">My Orders</a>
								<a class="dropdown-item" href="/user/comments/">My Comments</a>
                                <a class="dropdown-item" href="/user/favourites">My favourites</a>
								<a class="dropdown-item" href="/logout/">Logout</a>
							</div>
						</li>
                        <li class="nav-item"><a class="nav-link" href="/shopcart/">
                            Confirm Order <i class="fa fa-cutlery"></i><span style="border-radius: 50%; background-color: #cfa671"> {{ request.session.cart_items }}&nbsp; </span></a>
                        </li>
					</ul>
                &emsp;&emsp;&emsp;
				</div>
		</nav>
	</header>
	<!-- End header -->